:root {
  --main-font-color: #222;

  --bg-color: #eee;
  --secondary-bg-color: #999;
  --card-bg-color: #3a4c43;
  --primary-color: #ffb633;
  --button-top-left-color: #38ddfd;
  --button-bot-left-color: #2fce8b;
  --button-top-right-color: #27d238;
  --button-bot-right-color: #ae00ff;
  --button-box-shadow: 43, 45, 44, 0.5;
  --themeText: #2b2b2c;
  --themeBorderActive: #2b2b2c;
  --themeOther: #eee;
}

#lightTheme {
  background-color: #eee;
  border: 1px solid var(--themeBorderActive);
}

#darkTheme {
  background-color: #2b2d2c;
  border: 1px solid var(--themeOther);
}
#goldTheme {
  background-color: #ffb633;
  border: 1px solid var(--themeOther);
}
