:root {
  --main-font-color: #ddd;
  --bg-color: #2b2d2c;
  --secondary-bg-color: #303231;
  --card-bg-color: #3a4c43;
  --primary-color: #ffb633;
  --button-top-left-color: #38ddfd;
  --button-bot-left-color: #2fce8b;
  --button-top-right-color: #27d238;
  --button-bot-right-color: #ae00ff;
  --button-box-shadow: 238, 238, 238, 0.5;
  --themeText: #ffb633;
  --themeBorderActive: #ffb633;
  --themeOther: #2b2b2c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--main-font-color);
  font-family: 'Open Sans', sans-serif;
}

.themebox {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  position: absolute;
  top: 10px;
  left: 10px;
}

#lightTheme,
#darkTheme,
#goldTheme {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.lightThemeToolTip,
.darkThemeToolTip,
.goldThemeToolTip {
  top: 60px;
  left: 5px;
  color: var(--themeText);
  position: absolute;
  visibility: hidden;
}

#lightTheme:hover .lightThemeToolTip {
  visibility: visible;
}
#darkTheme:hover .darkThemeToolTip {
  visibility: visible;
}

#goldTheme:hover .goldThemeToolTip {
  visibility: visible;
}

#lightTheme {
  background-color: #ddd;
  border: 1px solid var(--themeOther);
}

#darkTheme {
  background-color: #2b2d2c;
  border: 1px solid var(--themeBorderActive);
}
#goldTheme {
  background-color: #ffb633;
  border: 1px solid var(--themeOther);
}

section {
  padding: 50px 0;
  width: 100%;
}

.sectionContent {
  width: 70%;
  margin: auto;
}

.gridSections {
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.button {
  position: relative;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  overflow: hidden;
  margin-top: 15px;
  padding: 15px 15px;
  text-decoration: none;
  cursor: pointer;
  color: var(--bg-color);
  box-shadow: 0px 3px 1px -2px rgba(var(--button-box-shadow));
  background-color: var(--primary-color);
  z-index: 1;
}

.footer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.toTop {
  color: var(--primary-color);
  text-decoration: none;
}

.blurb {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  line-height: 1.2;
}

.blurb h1 {
  font-size: 48px;
}

#nameHrTrig, #aboutHrTrig, #skillHrTrig, #contactHrTrig{
  height: 10px;
  cursor: pointer;
}

#nameHr, #aboutHr, #skillHr, #contactHr{
  transition: ease-in-out 0.3s;

}

#skillHr{
  width:25px;
}

#nameHrTrig:hover #nameHr{
  width:400px;
}

#aboutHrTrig:hover #aboutHr{
  width:220px;
}

#skillHrTrig:hover #skillHr{
  width:60px;
}

#contactHrTrig:hover #contactHr{
  width: 90px;
}

#heroBlurb h3 {
  color: var(--primary-color);
}
.about,
.contact {
  background-color: var(--secondary-bg-color);
}
#heroImage {
  position: relative;
  border-left: 2px solid var(--primary-color);
}

.imageBox {
  position: relative;
  z-index: 1;
}

.hero {
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero img {
  width: 100%;
  margin: auto auto;
  display: block;
}

.imageRec {
  position: absolute;
  height: 50%;
  width: 10%;
  right: 4em;
  bottom: 7em;
  background-color: var(--primary-color);
}

.skillSectionContent h1,
.contentSectionContent h1 {
  text-align: center;
}


#aboutTextWrap{
  display:flex;
  position: relative;
  align-items: center;
}

#aboutBlurb {
  position: relative;
  width: 100%;
}

.titleBox {
  z-index: 1;
  margin-bottom: 15px;
}

.titleBox hr {
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);

  width: 50px;
  margin: auto;
}

.titleBox p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.larger {
  font-size: 48px;
  padding: 0 5px;
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.circleAbout {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 15px solid var(--primary-color);
  border-radius: 50%;
  left: 0.5rem;
  opacity: 0.5;
  z-index: 1;
  left: -20px;
  cursor: pointer;
}

.bounce {
  animation: bounce 2s 1;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.skillBox {
  display: grid;
  grid-template-columns: repeat(4, 340px);
  grid-template-rows: repeat(1, 240px);
  grid-gap: 0.5em;
  justify-content: center;
  perspective: 1000px;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
  line-height: 6;
  margin: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.box a {
  color: var(--primary-color);
  text-decoration: none;
}

.box a:hover {
  text-decoration: underline;
}

.contact {
  margin-bottom: 0;
  position: relative;
}
.boxOverlay {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0.5;
  position: absolute;
}

#csharp {
  background-color: var(--secondary-bg-color);
}

#python{
  background-color: var(--card-bg-color);
}

#sqlserver{
  background-color: var(--primary-color);
}

#javascript{
  background-color: #666;
}

.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.email {
  text-align: center;
  font-size: 24px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.socialWrap {
  width: 50px;
}

.social a {
  color: #fff;
  font-size: 32px;
  vertical-align: middle;
  transition: font-size 300ms ease-in-out;
  transform-origin: center;
}

.social a:hover {
  font-size: 42px;
}


#substackEmbed{
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#substackEmbed h3{
  margin-right: 10px;
}

i {
  color: var(--primary-color);
}

.front
{
  position:absolute;
  z-index: 1;
  width:25%;
  height: 25%;
}
.front img{
  position: relative;
  width:100%;
  object-fit: cover;
}
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
  /* background: #666; */
}

.ripple {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animateRipple 1s linear infinite;
}

button{
  transition: ease-in-out .1s
}

.csw-substack-gradient-custom button:hover{
  color: #ffb633 !important;
  background-color: #2b2d2c !important;
}

@keyframes animateRipple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


@media (max-width: 1390px){
  .skillBox {
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: repeat(2, 240px);
  }
}



@media (max-width: 700px) {
  .blurb h1 {
    font-size: 20px;
  }

  .circleAbout {
    left: -1rem;
  }
  .skillBox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 340px);
    min-width:340px;
  }

  .sectionContent {
    width: 90%;
  }

  .contactBox {
    height: 75px;
  }
  .contactBox span {
    font-size: 24px;
    text-align: center;
  }
  .imageRec {
    right: 1em;
    bottom: 2em;
  }




  #lightTheme:hover .lightThemeToolTip {
    visibility: hidden;
  }
  #darkTheme:hover .darkThemeToolTip {
    visibility: hidden;
  }
  #goldTheme:hover .goldThemeToolTip {
    visibility: hidden;
  }
}
