mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#react") React
    li: a(href="#youtube") YouTube
    li: a(href="#design") Design
    li: a(href="#articles") Articles
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position

    h1.logo SWG

    nav.site-nav
      +nav-content()


    

    .mobile-nav-toggle: span
