mixin nav-content()
  ul
    li: a(href="#about") ABOUT
    li: a(href="#skills") SKILLS
    li: a(href="#webdev") WEB DESIGN
    li: a(href="#youtube") YOUTUBE
    li: a(href="#art") HOBBIES 
    li: a(href="#contact") CONTACT

.mobile-nav
  +nav-content()

header
  .header-position

    h1.logo WM

    nav.site-nav
      +nav-content()


    .mobile-nav-toggle: span
