footer.home-footer#contact

  .flex.flex--space-around
    
    .col-1
      .email: a(href="mailto:williamhmcdonaldiii@gmail.com") williamhmcdonaldiii@gmail.com


    .col-1.inline
      .github: a(href="https://github.com/ginoskotheon" target="_blank"): i(class="fa fa-github" aria-hidden="true")
      .medium: a(href="https://medium.com/@williammcdonald1978" target="_blank"): i(class="fa fa-medium" aria-hidden="true")
      .twitter: a(href="https://twitter.com/ginoskotheon" target="_blank"): i(class="fa fa-twitter" aria-hidden="true")
        
    .col-1
      div.direction
        div.arrow
          a(href="#about").home-cta.arrows <i class="fa fa-arrow-up" aria-hidden="true"></i>
