section.react#react
  .flex.flex--space-around
    .col-1
      a(href="/react/GameofLife/index.html" target="_blank").home-cta Game of Life
      a(href="/react/RogueGame/index.html" target="_blank").home-cta Rogue Game

    .col-1.order-first
      p.home-lead.outdented ...React Projects...
      a(href="/react/LeaderBoard/index.html" target="_blank").home-cta Leader Board
      a(href="/react/RecipeBox/index.html" target="_blank").home-cta Recipe Box
