footer.home-footer#contact

  .flex.flex--space-around

    .email: a(href="mailto:williamhmcdonaldiii@gmail.com") williamhmcdonaldiii@gmail.com


    .col-1.inline
      .github: a(href="https://github.com/ginoskotheon" target="_blank"): i(class="fa fa-github" aria-hidden="true")
      .linkedin: a(href="https://www.linkedin.com/in/will-mcdonald-2904632" target="_blank"): i(class="fa fa-linkedin" aria-hidden="true")
      .twitter: a(href="https://twitter.com/ginoskotheon" target="_blank"): i(class="fa fa-twitter" aria-hidden="true")
