section.webdev#webdev
  
  .flex.flex--space-around#wbdv
    .col-1
      p.home-lead.outdented Web Development
      a(class="modalTrigger").home-cta.button Projects
      div.direction
        div.arrow
          a(href="#youtube").home-cta.arrows <i class="fa fa-arrow-down" aria-hidden="true"></i>
        div.arrow
          a(href="#skills").home-cta.arrows <i class="fa fa-arrow-up" aria-hidden="true"></i>

      


      
    .col-1.order-first
      div.modal#webproj
        span.close#01 x
        div.modalBack    
          a(href="https://glacial-coast-36974.herokuapp.com/" target="_blank")
            img(src="assets/img/nightlife.png")
            div#caption Nightlife App
            hr
            div.description
              p After registering/logging in the user can search and rsvp a bar with their friends. Built with nodejs and mongoDB
          a(href="/react/GameofLife/index.html" target="_blank")
            img(src="assets/img/gameoflife.png")
            div#caption Game of Life
            hr
            div.description
              p The classic Game of Life. Built with Reactjs.
          a(href="https://macinterest.herokuapp.com/" target="_blank")
            img(src="assets/img/macinterest.png")
            div#caption Pinterest Clone
            hr
            div.description    
              p A Pinterest Clone built with nodejs and mongoDB.
          a(href="/react/RecipeBox/index.html" target="_blank")
            img(src="assets/img/recipebox.png")
            div#caption Recipe Box
            hr
            div.description
              p A recipe box that can add, delete, and edit recipes--all stored on local storage. Built with Reactjs.
          a(href="https://warm-shelf-85850.herokuapp.com/" target="_blank")
            img(src="assets/img/stocks.png")
            div#caption Stock App
            hr
            div.description
              p A real time stock app that displays most recent data. Built with nodejs and mongoDB.
          a(href="https://bookappwm.herokuapp.com/" target="_blank")
            img(src="assets/img/chinesebooks.png")
            div#caption Book Trading App
            hr
            div.description
              p A web app for posting and trading books. Built with nodejs and mongoDB. The main language of the site is Chinese.
