section.articles#articles
  //- .box3#myarticles Articles
  .flex.flex--center
    .col-1
      div.panel
        h2 ...probing deep...
    .col-1
      p.home-lead ...into the great questions of life...
      div#rt 
        a(href="#myart").home-cta.arrows <i class="fa fa-arrow-down" aria-hidden="true"></i>
