section.design#design
  .flex.flex--center
    .col-1
      ul.works
        li.work
          img(src="assets/img/artstation/thumbs/forklift-thumb.jpg").premodal#01
          div.modal#img01
            span.close#01 x
            img(src="assets/img/artstation/forklift.jpg").modal-content
            div#caption Steampunk Forklift
        li.work
          img(src="assets/img/artstation/thumbs/isq-thumb.jpg").premodal#02
          div.modal#img02
            span.close#02 x
            img(src="assets/img/artstation/isq.png").modal-content
            div#caption Advertisement for a School
        li.work
          img(src="assets/img/artstation/thumbs/skullbox-thumb.jpg").premodal#03
          div.modal#img03
            span.close#03 x
            img(src="assets/img/artstation/skullbox.jpg").modal-content
            div#caption Decal Placement
        li.work
          img(src="assets/img/artstation/thumbs/bagend-thumb.jpg").premodal#04
          div.modal#img04
            span.close#04 x
            img(src="assets/img/artstation/bagend.png").modal-content
            div#caption Backdoor View of Bag End
        li.work
          img(src="assets/img/artstation/thumbs/designwerks-thumb.jpg").premodal#05
          div.modal#img05
            span.close#05 x
            img(src="assets/img/artstation/designwerks-retopo.jpg").modal-content
            div#caption Creature Wireframe
    .col-1.order-first
      p.home-lead.outdented ...creating riveting designs...
      a(href="https://www.artstation.com/artist/ginoskotheon").home-cta Art Station
