section.about#about
  //- .box.box1#myabout About
  .flex.flex--center
    .col-1.order-first
      //- div.panel
      h2 William H. McDonald III
    .col-1.order-second
      p.home-lead software developer
      a(href="#" class="modAboutTrigger").home-cta.button Bio
      div.direction
        div.arrow
          a(href="#skills" ).home-cta.arrows <i class="fa fa-arrow-down" aria-hidden="true"></i>
      div.modal#myabout
        span.close#02 x
        div.modalBack    
          img(src="assets/img/bio/beach.jpg")
          div#caption William H. McDonald III
          hr
          p I have spent the last 15 years in music education and I am now a software developer. I started out software development learning Python. However, my present job is building native and web apps in C#. I am also up-to-date in most web technologies. I know Python Django and I can develop in React, Angular, and Vue.  I need to give a lot of credit to 
            a(href="https://www.freecodecamp.org/") Free Code Camp 
            | without which I would not have learned development as quickly or as excellently.
          
          div.chinalife.clearfix
            img(src="assets/img/bio/married.jpg" style="width: 20%").married.clearfix
            p 11 years of my life were lived in China. 2 years were in Beijing and 9 years were spent in the beautiful coastal city of Qingdao. That experience has instilled a global perspective, given me a family, and given me a second language. 不用问，我当然会讲汉语.

          p Beyond this, I have skills in 3D art and have done several freelance jobs including logo design and vehicle modeling. I am also an avid runner and a loyal family man. 
