section.art#art
  .flex.flex--center.top
    div.skilled
      p.home-lead 
        br
        br
        <i class="fa fa-paint-brush" aria-hidden="true" style="color: salmon; font-size: 44px"></i>
        
    
    

  .flex.flex--space-around.bottom
  
    .col-1#sets
      h2 3D
      video(poster="assets/img/cycle_1.png", autoplay="true" loop)
        <source src="assets/img/cycle.webm" type="video/webm">
        <source src="assets/img/cycle.mp4" type="video/mp4">
        <source src="assets/img/cycle.ogv" type="video/ogv">
        |Your browser does not support the video tag.
        
    .col-1#sets
      div.direction
        div.arrow 
          a(href="#contact").home-cta.arrows <i class="fa fa-arrow-down" aria-hidden="true"></i>
        div.arrow 
          a(href="#youtube").home-cta.arrows <i class="fa fa-arrow-up" aria-hidden="true"></i>

    
    .col-1#sets
      h2 China
      div.china
        iframe(name="I1" src="http://www.bbc.com/news/world/asia/china")
      
      
