section.youtube#youtube
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/a4aZPWzB2oE" frameborder="0" allowfullscreen></iframe>

    .col-1.order-first
      p.home-lead.outdented ...pushing valuable content onto YouTube...
      a(href="https://www.youtube.com/user/ginoskotheon3" target="_blank").home-cta Watch on YouTube
