section.skills#skills
  .flex.flex--center.top
    div.skilled

      p.home-lead Skills
        br
        br
        <i class="fa fa-gear" aria-hidden="true"></i>
    
    

  .flex.flex--center.bottom
    
    .col-1#sets
      ul
        li 
          div.items
            img(src="assets/img/icons/node.png")
            p Nodejs
        li 
          div.items
            img(src="assets/img/icons/d3.png")
            p D3js
        li 
          div.items
            img(src="assets/img/icons/python.png")
            p Python Django
        li 
          div.items
            img(src="assets/img/icons/mean.png")
            p MEAN Stack
        
    .col-1#sets
      div.direction
        div.arrow
          a(href="#webdev").home-cta.arrows <i class="fa fa-arrow-down" aria-hidden="true"></i>
        div.arrow
          a(href="#about").home-cta.arrows <i class="fa fa-arrow-up" aria-hidden="true"></i>
        
    .col-1#sets
      ul
        li
          div.items
            img(src="assets/img/icons/react.ico")  
            p Reactjs
              
        li 
          div.items
            img(src="assets/img/icons/angular2.png")
            p Angular2
        li 
          div.items
            img(src="assets/img/icons/gimp.png")
            p Photoshop/GIMP
        li 
          div.items
            img(src="assets/img/icons/blender.png")
            p Blender 3D
            
    //- 
    //- .col-1.order-first
      
