section.node#node
  .flex.flex--space-around
    .col-1
      a(href="https://bookappwm.herokuapp.com/" target="_blank").home-cta Book Search
      a(href="https://warm-shelf-85850.herokuapp.com/" target="_blank").home-cta Stock Viewer

    .col-1.order-first
      p.home-lead.outdented ...Full Stack Node.js Apps...
      a(href="https://glacial-coast-36974.herokuapp.com/" target="_blank").home-cta Night Life App
      a(href="https://hidden-chamber-71069.herokuapp.com/" target="_blank").home-cta Polling App
      a(href="https://macinterest.herokuapp.com/" target="_blank").home-cta Pinterest Clone
