body {
  background: #333;
  font-family: 'Roboto', sans-serif;
}

#container {
  text-align: center;
}


#gameBack {
  padding: 20px;
  background: red;
  border-radius: 10px;
  width: 80%;

  margin: 0 auto;
}

#titles {
  background: red;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 20px;
}

#header {
  background: red;
  border-radius: 10px;
  width: 40%;
  padding: 20px;
  margin: 0px auto;
  margin-bottom: -10px;

}
#footer {
  background: red;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -10px;
}

#message {
  background: red;
  color: #fbb;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}


.gameboard {
  display: block;
  margin: 0 auto;
  background: red;
  width: 110%;

}

.alive {
  background-color: #e44;
}

.young {
  background-color: #fbb;
}

.dead {
  background-color: black;
}

.boardRow {
  display: block;
  height: 12px;
  line-height: 12px;
}

.cell{
  display: inline-block;
  height: 12px;
  width: 12px;
  line-height: 12px;
  border: 1px solid #333;
  border-radius: 25%;
}

.cell-small {
  height: 9px;
  width: 9px;
}

.btn {
  border: 2px solid #333;
}

button {
  margin: 5px;

}
#generations {
  position: absolute;
  top: 150px;
  left: 530px;
  background: #CCC;
  color: #333;
  font-size: 18px;
  line-height: 3;
  padding: 5px;
  border: 2px solid #fbb;
  border-radius: 5px;
}

#gitlink {
  height: 50px;
  width: 100%;
}

#gitlink a {
  color: #fff;
  cursor: pointer;
  font-size: 34px;
}
